# Random Search CV

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [2]:
data1=pd.read_excel(r'C:\Users\K S Kalaburgi\Downloads\train1.xlsx')

In [3]:
data1.head()

   data1  data2 data3      data4  data5  data6     data7  data8 data9 data10
0      7    195     A  29.038043   2725      1  6.145731      2     M      p
1      9    109     F  20.221431   1184      1  9.334184      2     M      p
2      0    126     C  26.477532   2975      1  9.021806      1     M      p
3      2    209     E  13.445450   1067      1  1.814993      0     M      p
4      5    268     B  25.065894   1336      1  1.639130      1     M      p

In [4]:
data1

,data1,data2,data3,data4,data5,data6,data7,data8,data9,data10
0,7,195,A,29.038043,2725,1,6.145731,2,M,p
1,9,109,F,20.221431,1184,1,9.334184,2,M,p
2,0,126,C,26.477532,2975,1,9.021806,1,M,p
3,2,209,E,13.445450,1067,1,1.814993,0,M,p
4,5,268,B,25.065894,1336,1,1.639130,1,M,p
...,...,...,...,...,...,...,...,...,...,...
9995,7,251,D,23.004384,1637,0,8.333728,1,F,p
9996,5,275,A,29.514058,2339,0,9.953107,1,F,p
9997,8,168,C,22.520965,1827,0,7.555553,1,F,p
9998,4,296,E,16.558948,1748,0,8.846995,1,F,p
9999,7,281,C,18.546089,1651,0,8.907220,2,F,p

In [5]:
data1.pop("data10")

0       p
1       p
2       p
3       p
4       p
       ..
9995    p
9996    p
9997    p
9998    p
9999    p
Name: data10, Length: 10000, dtype: object

In [6]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
le=LabelEncoder()
data1["data3"]=le.fit_transform(data1["data3"])
data1["data9"]=le.fit_transform(data1["data9"])

In [7]:
x=data1.iloc[:,:-1].values
y=data1.iloc[:,-1].values

In [8]:
data1

      data1  data2  data3      data4  data5  data6     data7  data8  data9
0         7    195      0  29.038043   2725      1  6.145731      2      1
1         9    109      5  20.221431   1184      1  9.334184      2      1
2         0    126      2  26.477532   2975      1  9.021806      1      1
3         2    209      4  13.445450   1067      1  1.814993      0      1
4         5    268      1  25.065894   1336      1  1.639130      1      1
...     ...    ...    ...        ...    ...    ...       ...    ...    ...
9995      7    251      3  23.004384   1637      0  8.333728      1      0
9996      5    275      0  29.514058   2339      0  9.953107      1      0
9997      8    168      2  22.520965   1827      0  7.555553      1      0
9998      4    296      4  16.558948   1748      0  8.846995      1      0
9999      7    281      2  18.546089   1651      0  8.907220      2      0

[10000 rows x 9 columns]

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [42]:
from sklearn.model_selection import RandomizedSearchCV

In [51]:
import random
dist={"max_depth":[3,5,10,None],
     "n_estimators":[10,20,30,40,50],
     "max_features":["auto","sqrt"],
     "criterion":["gini","entropy"],
     "bootstrap":[True,False],
     "min_samples_leaf":[1,2]
     "min_samples_split":[2,5]}

In [57]:
rfc=RandomForestClassifier()
rd=RandomizedSearchCV(estimator=rfc,param_distributions=dist,n_jobs=-1,n_iter=10,cv=9,verbose=2)

In [58]:
rd.fit(x_train,y_train)

Fitting 9 folds for each of 10 candidates, totalling 90 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   16.1s
[Parallel(n_jobs=-1)]: Done  90 out of  90 | elapsed:   25.7s finished

RandomizedSearchCV(cv=9, estimator=RandomForestClassifier(), n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'criterion': ['gini', 'entropy'],
                                        'max_depth': [3, 5, 10, None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2],
                                        'n_estimators': [10, 20, 30, 40, 50]},
                   verbose=2)

In [59]:
rd.best_params_

{'n_estimators': 40,
 'min_samples_leaf': 2,
 'max_features': 'sqrt',
 'max_depth': 3,
 'criterion': 'entropy',
 'bootstrap': True}

In [60]:
rd.best_score_

0.9019985958962337